

<h1>Usuários</h1>

<div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                              <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" id="check-all" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            </th>
                            <th class="column-title" style="display: table-cell;">Nome </th>
                            <th class="column-title" style="display: table-cell;">Sobrenome </th>
                            <th class="column-title" style="display: table-cell;">C.R. </th>
                            <th colspan="2" class="column-title no-link last" style="display: table-cell;"><span class="nobr">Ações</span>
                            </th>
                            <th class="bulk-actions" colspan="7" style="display: none;">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt">1 Registro Selecionado</span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @usuarios.each do |usuario| %>
                            <tr class="<%= cycle('even', 'odd') %> pointer">
                              <td class="a-center ">
                                <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                              </td>
                              <td class=" "><%= usuario.nome %></td>
                              <td class=" "><%= usuario.sobrenome %></td>
                              <td class=" "><%= usuario.cr %></td><td>
                                <%= link_to 'Visualizar', backoffice_usuario_path(usuario) %>
                              </td>
                              <td>
                                <%= link_to 'Editar', edit_backoffice_usuario_path(usuario) %>
                              </td>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>



<br>

<%= link_to 'Cadastrar Usuário', new_usuario_registration_path, class: 'btn btn-info btn-lg' %>
